/* General */
h1 {
  font-size: 48px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

h3 {
  letter-spacing: 2px;
}

ul{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: black;
}

li {
  list-style-type: none;
}
img {
  display: block;
}

.container {
    display: block;
    width: 1145px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.title{
    text-transform: uppercase;
}

.text {
    font-size:14px;
    line-height: 2;
    color: #A9A9A9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  }

/* #header */

#logo {
  float:left;
  padding-left: 20px;
  padding-top: 30px;
}

#nav {
  float: right;
}

#nav li {
  float: left;
  line-height: 90px;
}

#nav a {
  padding: 0 15px;
  font-weight: bold;
  text-transform: capitalize;
}

#nav .active a {
  color: #1ED3A6;
}

/* .header */
.header {
  text-align: center;
  color: #fff;
  background-image: url(http://lorempixel.com/1000/500/);
}

.header .wrapper {
  padding: 100px 0;
}

.header h1 {
  text-transform: uppercase;
}

#breadcrumbs a {
  text-transform: capitalize;
  color: #fff;
}

/* Intro */
.history {
  float: left;
}

.datagraph {
  float: right;

}
